<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta name="keywords" content="PocketMine,PocketMine-MP,crash,archive,bug"/>
    <meta name="description" content="Crash Archive and classifier for PocketMine"/>
    <meta name="language" content="en"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta property="twitter:account_id" content="1510082350"/>
    <title>PocketMine Crash Archive</title>
    <link rel="shortcut icon" href="//cdn.pocketmine.net/favicon.png"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
    <link href="css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37722441-2']);
        _gaq.push(['_setDomainName', 'pocketmine.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="#" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Home"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="#" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Search"><span class="glyphicon glyphicon-search"></span></a></li>
                <li><a href="#" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Submit report"><span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
            <h3 class="text-muted">PocketMine Crash Archive</h3>
        </div>